[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
	branch = master
[submodule "libs/OptParse/cpp-optparse"]
	path = libs/OptParse/cpp-optparse
	url = https://github.com/weisslj/cpp-optparse.git
[submodule "utils/python-uswid"]
	path = utils/python-uswid
	url = https://github.com/hughsie/python-uswid.git
[submodule "libs/FreeRTOS/FreeRTOS-Kernel"]
	path = libs/FreeRTOS/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
